body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(116, 218, 218);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

div.our-form {
  width: 95%;
  height: fit-content;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.our-form .let-us {
  text-align: center;
  padding: 30px 0px 10px;
}

.label-input {
  display: inline-block;
  width: 60px;
}

.input-field {
  width: 250px;
  height: 1.5em;
}

.input-container {
  position: relative;
  left: 500px;
  margin: 15px;
}

.major {
  position: relative;
  left: 208px;
  margin-top: 27px;
}

#major {
  margin-left: 18px;
  width: 100px;
  height: 1.5rem;
  background: #eee;
}

.recommend p {
  display: inline-block;
  position: relative;
  left: 256px;
  top: -22px;
}

.select-one {
  display: inline-block;
  position: relative;
  left: 275px;
  margin-top: 15px;
}

.recommend {
  margin-top: 10px;
}

.most-liked {
  margin-left: 340px;
  margin-top: 29px;
}

.most-liked #liked {
  margin-left: 20px;
  height: 1.5rem;
  background: #eee;
}

.improved {
  margin-top: 38px;
}

.improved p {
  margin-left: 248px;
  margin-top: 10px;
  display: inline-block;
}

.improved .qa {
  display: inline-block;
  margin-left: 10px;
}
